AppIdeaStore/Service References/ServiceRef/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://uscmpujmittal8.us.deloitte.com/WcfService/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.DataContract" />
  <xs:import schemaLocation="http://uscmpujmittal8.us.deloitte.com/WcfService/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:element name="GetTechnology">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechnologyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.DataContract" minOccurs="0" name="GetTechnologyResult" nillable="true" type="q1:ArrayOfTechnologyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService.DataContract" minOccurs="0" name="GetCommentResult" nillable="true" type="q2:ArrayOfCommentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService.DataContract" minOccurs="0" name="GetImageResult" nillable="true" type="q3:ArrayOfImageType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSector">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService.DataContract" minOccurs="0" name="GetSectorResult" nillable="true" type="q4:ArrayOfSectorType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService.DataContract" minOccurs="0" name="GetUserResult" nillable="true" type="q5:ArrayOfUsrType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService.DataContract" minOccurs="0" name="GetAppResult" nillable="true" type="q6:ArrayOfappType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService.DataContract" minOccurs="0" name="GetAppDetailsResult" nillable="true" type="q7:ArrayOfappType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppIdea">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppIdeaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetAppIdeaResult" nillable="true" type="q8:ArrayOfDcApp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppSector">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppSectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetAppSectorResult" nillable="true" type="q9:ArrayOfDcSector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppDetail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetAppDetailResult" nillable="true" type="q10:ArrayOfDcAppDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTech">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetTechResult" nillable="true" type="q11:ArrayOfDcTech" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppDetails2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppDetails2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetAppDetails2Result" nillable="true" type="q12:ArrayOfDcAppDetails2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>